/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*User & Webform Pages*/
body.page-user #region-content .region-content-inner, body.node-type-webform #region-content .region-content-inner {
		padding: 10px 30px;
		background-color: #f3f3f3;
	}

dt {
	color: #0e0e0e;
}

	/* Registration page*/

	body.page-user #region-content .tabs {
		display: none;
	}

	body.page-user-register #region-content h1#page-title {
		color: #089fe3;
		display: block !important;
	}

	#edit-profile-main, #edit-profile-registration span.fieldset-legend {
		display: none;
	}

	body.page-user-register #region-content .form-checkboxes {
		background-color: #fff;
		padding: 20px 30px;
	}

	body.page-user-register #region-content #edit-profile-registration-field-news-und {
		padding-top: 10px;
		background-color: transparent;
	}

	body.page-user-register #region-content .form-item label {
		margin-bottom: 10px;
		font-size: 14px;
		color: #0e0e0e;
	}

	body.page-user-register #region-content #edit-profile-registration-field-news-und {
		padding: 0px 30px;
	}
	label[for=edit-profile-registration-field-news-und] {
		display: none;
		padding-top: 0px;
		padding-bottom: 0px;
	}

/*	label#edit-name 
	{
		font-size: 18px;
	}
*/
	body.page-user-register #region-content #edit-submit {
		float: right;
	}
	/* @end registration page*/

	/*Login page*/
	body.page-user #region-content h1#page-title {
		display: none;
	}


	/*@end login page*/

	/*Webform pages*/
	
	body.node-type-webform #region-content h1#page-title {
		color: #089fe3;
	}

	body.node-type-webform #region-content .form-item label {
		margin-bottom: 10px;
		font-size: 14px;
		color: #0e0e0e;
	}
	
	body.node-type-webform #region-content #edit-submit {
		float: right;
	}

	/*@end Webform pages*/
/*@end user & webform page*/
