/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

body {
  background: url(../images/fon_stena.jpg) repeat-y;
  align: center;
}

#page{
  background: rgba(0, 0, 0, 0.5);
}

a, p, ul, ol, li, strong, em,
#block-views-front-reg-block .views-row .views-field-body div,
.page-news-drupalclub .views-row .views-field-body div {
  color: #0e0e0e;
  font-size: 15px;
}

a:link,
a:visited {
  color: #4d87bf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page-frontpage #section-content {
  background: url(../images/nadpisi_stena_1.png) no-repeat;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.node-type-static-page #section-content,
.node-type-news #section-content,
.page-speeches #section-content,
.page-projects #section-content,
.page-codesprint-modules #section-content,
.page-sponsors #section-content{
  background: url(../images/nadpisi_stena_2.png) no-repeat;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.node-type-webform #section-content {
  background: url(../images/nadpisi_stena_3.png) no-repeat;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

#zone-branding-wrapper,
#zone-menu-wrapper,
#zone-footer2-wrapper {
  background: rgba(0, 0, 0, 0.3);
} 

#zone-branding-wrapper {
  padding-top: 25px;
}

h2.block-title {
  font-size: 32px;
  color: #fbf169;
  margin-left: 20px;
  padding-top: 10px;
}

.form-required {
  color: #5a9ee0;
}

#logo {
  margin-left: -110px;
  margin-top: -9px;
}


/* Main menu */

#nice-menu-1 {
  float: right;
  margin: 10px 40px 0px 0;
}

#nice-menu-1 li,
#nice-menu-1 li ul,
#nice-menu-1 li ul li {
  background: none;
  border: none;
}

#nice-menu-1 li,
#nice-menu-1 li ul li {
  padding: 0 20px;
}  

#nice-menu-1 li:hover,
#nice-menu-1 li ul li {
  background: rgba(0, 0, 0, 0.7);
}

#nice-menu-1 li ul {
  margin-top: 23px;
}

#nice-menu-1 li ul li {
  margin: 0px;
}

#nice-menu-1 li a {
  background: none;
}

#nice-menu-1 li a,
#nice-menu-1 li ul li a {
  text-decoration: none;
  font-size: 30px;
  color: #f3f3f3;
  margin-top: -10px;
}

#nice-menu-1 li ul li a {
  font-size: 20px;
}

#nice-menu-1 li a:hover,
#nice-menu-1 li ul li a:hover,
#nice-menu-1 li a.active,
#nice-menu-1 li ul li a.active {
  color: #5a9ee0;
}

#nice-menu-1 li.menu-342 ul li {
  width: 175px;
}

/* @end main menu */

/* Social network */
#block-block-5 {
  float: left;
  margin-left: 40px;
}

#block-block-5 .content p a:hover {
  opacity: 0.7;
}

#block-block-6 {
  float: right;
  opacity: 0.5;
  margin-right: -140px;
  margin-top: 20px;
}

/* Twitter block */

#block-views-tweets-block,
#block-views-sponsor-block-1 {
  background: #3f3c40;
  margin-top: 30px;
}

#block-views-tweets-block .view-content li,
#block-views-tweets-block .view-tweets img {
  margin-left: 25px;
}

#block-views-tweets-block .view-tweets img {
  padding-right: 15px;
  padding-bottom: 10px;
}

.view-tweets .views-field-screen-name,
.view-tweets .views-field-text {
  color: #dedede;
}

.view-tweets .views-field-screen-name {
  font-size: 14px; 
  color: #70baee;
}

.view-tweets .views-field-created-time {
  font-size: 11px; 
  width: 100%;
  color: #f3f3f3;
}

.view-tweets .views-field-text {
  font-size: 12px; 
  float: left;
  padding-bottom: 10px;
  margin-right: 10px;
}

.view-tweets .views-field-text span a {
  text-decoration: none;
  color: #5a9ee0;
}

.view-tweets .views-field-text span a:hover {
  text-decoration: underline;
}

.view-tweets .views-row {
  font-size: 0;
  margin-bottom: 15px;
}

.view-tweets .view-header .account {
  float: right;
}

.view-tweets .view-header .account a {
  font-size: 16px;
  text-decoration: none;
  margin-right: 120px;
  color: #edf6ff;
}

.view-tweets .view-header .account a:hover {
  text-decoration: underline;
}

/* @end twitter block */

/* @end social network */


/* User login */

#user-login-form {
  float: left;
  margin-left: 40px;
  margin-top: -10px;
}

#user-login-form .form-item-pass {
  margin-top: -5px;
}

#user-login-form .form-item-name label,
#user-login-form .form-item-pass label {
  float: left;
  padding-right: 10px;
  color: #dddddd;
  font-size: 14px;
  font-weight: normal;
  text-transform: lowercase;
}

#user-login-form .form-item-name label .form-required,
#user-login-form .form-item-pass label .form-required {
  display: none;
}

#user-login-form .form-item-name input {
  width: 94px;
  height: 16px;
  background-color: #dedede;
  border: none;
}

#user-login-form .form-item-pass input {
  width: 85px;
  height: 16px;
  background-color: #dedede;
  border: none;
}

#user-login-form #edit-actions,
#edit-actions--2 {
  float: right;
  margin: -40px -18px 10px 30px;
}

#user-login-form #edit-actions input,
#edit-actions--2 input {
  background: none;
  border: none;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

#user-login-form .item-list .first {
  float: right;
  margin: 10px -2px 0 0;
}

#user-login-form .item-list .first a {
  text-decoration: none;
  font-size: 14px;
  text-transform: lowercase;
  color: #dddddd;
}

#user-login-form .item-list .last {
  display: none;
}

.block-logintoboggan {
  clear: left;
  float: right;
  margin-right: 92px; 
}

.block-logintoboggan a,
.block-logintoboggan .username {
  color: #dedede;
  font-size: 16px;
}

.block-logintoboggan a:hover {
  text-decoration: underline;
}

/* @end user login */

/* Right sidebar*/

/* Timer block */



/* @end timer block */


aside#region-sidebar-first {
  float: right;
}

#block-views-sponsor-block-1 h2.block-title {
  padding-bottom: 10px;
}

#block-views-sponsor-block-1 .views-field-field-image img {
  margin-left: 45px;
  margin-bottom: 40px;
}

#block-views-voting-block-1,
#block-views-voting-block-2,
#block-views-voting-block-3 {
  background: #3f3c40; 
  margin-top: 30px;
}

.block-views .view-voting .view-content {
  padding: 25px 25px 0px 25px;
}

.block-views .view-voting .view-content .views-field-title {
  color: #dedede;
  font-size: 20px;
  line-height: 1;  
}

.block-views .view-voting .view-content .fivestar-summary {
  margin-bottom: 20px;
}

.block-views .view-voting .view-content .fivestar-summary span {
  font-size: 18px;
  color: #dedede;
  margin-bottom: 20px;
}

#vote_project_button,
#vote_module_button, 
#vote_speech_button {
  float: right;
  margin-right: 25px;
  margin-bottom: 20px;
}

#vote_project_button a,
#vote_module_button a, 
#vote_speech_button a {
  color: #cad96b;
  font-size: 32px;
  text-decoration: none;
}

#vote_project_button a:hover,
#vote_module_button a:hover, 
#vote_speech_button a:hover {
  text-decoration: underline;
}

/* @end right sidebar */

/* Content */

#block-views-sponsor-block-2 {
  background: #f3f3f3;
  margin-top: 30px;
  float: left;
  width: 100%;
}

#block-views-sponsor-block-2 h2.block-title {
  color: #c580b0;
  margin-left: 30px;
}

#block-views-sponsor-block-2  .views-field-field-image img,
#block-system-main .views-field-field-image img {
  float: left;
  margin: 10px 8px 20px 32px; 
}


/* @end content */

/* Footer */

/* Footer menu */

#block-menu-menu-footer-menu ul {
  text-align: center;
  margin-top: 10px;
}

#block-menu-menu-footer-menu ul li {
  display: inline;
  margin: 0 15px;
}

#block-menu-menu-footer-menu ul li a {
  text-decoration: none;
  color: #dedede;
  font-size: 24px;
  list-style: none;
}

/* @end footer menu */

#block-views-sponsor-block-3 {
  padding-bottom: 80px;
}

#block-views-sponsor-block-3 h2.block-title {
  margin-left: 30px;
  color: #a3a3a3;
}

#block-views-sponsor-block-3 .views-field-field-image img {
  float: left;
  margin: 10px 40px 10px 0;
}

/* @end footer */

/* Front page */

/* Anonimus user */

#registration_block_language_switcher { 
  float: right;
  margin: -40px 30px 0 0;
}

#registration_block_language_switcher a { 
  text-decoration: none;
  color: #747474;
  font-size: 16px;
}

#registration_block_description {
  padding: 15px 30px 5px 30px;
}

#registration_block_view_all {
  float: right;
  padding-right: 30px;
  padding-bottom: 40px;
}

#registration_block_view_all a {
  text-decoration: none;
  color: #5a9ee0;
  font-size: 16px;
}

#registration_block_view_all a:hover {
  text-decoration: underline;
}

#block-views-front-reg-block-1,
#block-views-front-reg-block-2 {
  background: #f3f3f3;
  width: 300px;
  float: left;
}

#block-views-front-reg-block-2 {
  margin-left: 20px;
  float: right;
}

#block-views-front-reg-block-1 h2.block-title,
#block-views-front-reg-block-2 h2.block-title {
  color: #5a9ee0;
  font-size: 45px;
  margin-left: 30px;
}

#block-views-front-reg-block-1 h2.block-title a {
  text-decoration: none;
  color: #5a9ee0;
  font-size: 45px;
}

#block-views-front-reg-block-1 h2.block-title a:hover {
  text-decoration: underline;
}

#block-views-front-reg-block-1 .view-content, 
#block-views-front-reg-block-2 .view-content {
  float: left;
  padding: 0px 30px 40px;
}

#block-views-front-reg-block-1 .view-content .views-field a,
#block-views-front-reg-block-2 .view-content .views-field a {
  font-size: 16px;
  color: #5a9ee0;
  text-decoration: none;
  padding-bottom: 5px;
}

#block-views-front-reg-block-1 .view-content .views-field a:hover,
#block-views-front-reg-block-2 .view-content .views-field a:hover {
  text-decoration: underline;
} 

#block-block-3 {
  margin-top: 30px;
}

#block-block-3 h2.block-title {
  color: #5a9ee0;
  margin-left: 30px;
  margin-top: 15px;
}

#registration_block_main_button {
  margin: 40px 110px 55px 110px;
}

/* @end anonimus user */

/* register user */

#block-block-1 {
  margin-top: 30px;
} 

#top_voting_block_text,
#block-views-front-reg-block .views-row,
.page-news-drupalclub #block-system-main .views-row,
#block-block-3 {
  background: #f3f3f3;
  float: left;
  margin-bottom: 35px;
  width: 620px;
}

#top_voting_block_text .title {
  font-size: 16px;
  padding: 20px 0 0 25px;
}

#top_voting_block_text a img {
  margin: 15px 20px 40px 20px;
}

#top_voting_block_text a:hover,
#registration_block_main_button a:hover {
  opacity: 0.7;
}

#block-views-front-reg-block .views-row .views-field-title,
.page-news-drupalclub #block-system-main .views-row .views-field-title {
  margin-top: 25px;
} 

#block-views-front-reg-block .views-row .views-field-title a,
.page-news-drupalclub #block-system-main .views-row .views-field-title a {
  font-size: 45px;
  color: #5a9ee0;
  text-decoration: none;
}

#block-views-front-reg-block .views-row .views-field-field-date span,
.page-news-drupalclub #block-system-main .views-row .views-field-field-date span {
  color: #939393;
  font-size: 12px;
}

#block-views-front-reg-block .views-row .views-field-field-image img,
.page-news-drupalclub #block-system-main .views-row .views-field-field-image img{
  float: left;  
  margin: 0px 20px 30px 0px;
}

#block-views-front-reg-block .views-row .field-content,
.page-news-drupalclub #block-system-main .views-row .field-content {
  margin: 10px 30px 0px 30px;
}

#block-views-front-reg-block .views-row .views-field-body ul li {
  margin-left: 17px;
}

#block-views-front-reg-block .views-row .views-field-view-node,
.page-news-drupalclub #block-system-main .views-row .views-field-view-node {
  float: right;
  padding-bottom: 30px;
}

#block-views-front-reg-block .views-row .views-field-view-node a,
.page-news-drupalclub #block-system-main .views-row .views-field-view-node a {
  text-decoration: none;
  color: #5a9ee0;  
  font-size: 16px;
  text-transform: lowercase;
}

#block-views-front-reg-block .views-row .views-field-title a:hover,
#block-views-front-reg-block .views-row .views-field-view-node a:hover,
.page-news-drupalclub #block-system-main .views-row .views-field-title a:hover,
.page-news-drupalclub #block-system-main .views-row .views-field-view-node a:hover {
  text-decoration: underline;
}

.logged-in #block-views-tweets-block {
  width: 300px;
  float: right;
  margin-bottom: 40px;
}

.logged-in #block-views-tweets-block,
.logged-in #block-views-front-reg-block-1 { 
  margin-top: 25px;
}

.view-front-reg .item-list .pager li a,
.page-attendees .item-list .pager li a,
.page-news-drupalclub .item-list .pager li a {
  color: #fffefe;
  font-size: 14px;
  text-decoration: none;
  font-weight: normal;
}

.view-front-reg .item-list .pager li a:hover,
.page-attendees .item-list .pager li a:hover,
.page-news-drupalclub .item-list .pager li a:hover {
  text-decoration: underline;
}

.view-front-reg .item-list .pager .pager-current,
.page-attendees .item-list .pager .pager-current,
.page-news-drupalclub .item-list .pager .pager-current {
  font-size: 16px;
  color: #fffefe;
  font-weight: normal;
}

.page-news-drupalclub h1#page-title {
  font-size: 50px;
  color: #FBF169;
  margin-bottom: 10px;
}

/* @end register user */

/* @end front page */

/* Inner page */

.page-node #region-content,
.page-sponsors #region-content  {
  margin-top: 30px;
}

.page-node #region-content .region-content-inner,
.page-sponsors #region-content .region-content-inner {
  background: #f3f3f3;  
}

.page-node #region-content h1#page-title,
.page-sponsors #region-content h1#page-title,
.page-attendees h1#page-title,
.page-speeches h1#page-title,
.page-codesprint-modules h1#page-title,
.page-projects h1#page-title {
  color: #5a9ee0;
  font-size: 45px;
  margin-left: 30px;
  margin-bottom: -10px;
  padding-top: 10px;
}

.page-node #region-content .date-display-single {
  color: #939393;
}

.page-node #region-content .field-items {
  margin-left: 30px;
  margin-right: 30px;
}

.page-node #region-content .field-items p,
.page-node #region-content .field-items div,
.page-node #region-content .field-items ol,
.page-node #region-content .field-items ul {
  font-size: 15px;
  line-height: 1.3;
  color: #0e0e0e;
}

.page-node #region-content .region-content-inner .sharethis-wrapper {
  background: none;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}


/* @end inner page */

/* Zhuki blocks */

#block-block-19 {
  width: 60px;
  height: 40px;
}

#block-block-19 img {
  margin-top: 13px;
  margin-left: 135px;
}

#block-block-20 {
  position: absolute;
  z-index: 99;
  float: left;
  width: 60px;
  margin-left: -140px;
  margin-top: 620px; 
}

#block-block-21 {
  margin-bottom: 90px;
}

#block-block-21 img {
  margin-top: -6px;
  margin-left: 30px;
}
/* @end zhuki blocks */

/*user list page*/
.page-attendees {
}

.page-attendees #region-content .region-inner {
  float: left;
  width: 600px;
  background: none repeat scroll 0 0 #F3F3F3;
  padding: 0px 0px 15px 0px;
  margin: 30px 0 0 0;
}

.page-attendees #block-system-main .content {
  float: left;
  margin: 10px 0 0 15px;
}

.page-attendees .view-id-users .views-row {
  float: left;
  width: 110px;
  height: 145px;
  padding: 7px 1px 2px;
}

.page-attendees .view-id-users .view-id-users {
  float: left;
  width: 100%;
}

.page-attendees .view-id-users .views-row .views-field-name {
  float: left;
  width: 100px;
  text-align: center;
}

.page-attendees .view-id-users .views-row .views-field-name a {
  color: #5A9EE0;
}

/* @end user list page*/

/* Sponsors page */

.page-sponsors .block-sponsor-block-2 {
  margin-bottom: 40px;
}

/* @end sponsors page */

/*vote page*/

.page-codesprint-modules #zone-content #region-content,
.page-projects #zone-content #region-content,
.page-speeches #zone-content #region-content {
  float: left;
  width: 620px;
  background: none repeat scroll 0 0 #F3F3F3;
  margin: 30px 0 0 0;
}

.ui-accordion,
.page-codesprint-modules #region-content .ui-accordion-header,
.page-codesprint-modules #region-content .ui-accordion-content,
.page-projects #region-content .ui-accordion-header,
.page-projects #region-content .ui-accordion-content,
.page-speeches #region-content .ui-accordion-header,
.page-speeches #region-content .ui-accordion-content {
  float: left;
  width: 576px;
  
}

.page-codesprint-modules #region-content .ui-accordion-header,
.page-projects #region-content .ui-accordion-header,
.page-speeches #region-content .ui-accordion-header {
  margin: 22px 22px 0 22px;
  background: #c1c1c1;
}

.page-codesprint-modules #region-content .ui-accordion-content,
.page-projects #region-content .ui-accordion-content,
.page-speeches #region-content .ui-accordion-content {
  margin: 0 22px 22px 22px;
  padding: 0;
}

.page-codesprint-modules #region-content .views-row,
.page-projects #region-content .views-row,
.page-speeches #region-content .views-row {
  padding: 15px 20px;
  width: 536px;
  background: #fff;
}

.page-codesprint-modules #region-content .views-row .field-content,
.page-projects #region-content .views-row .field-content,
.page-speeches #region-content .views-row .field-content {
  font-size: 15px;
  line-height: 20px;
  float: left;
  color: #0e0e0e;
  font-family: Arial, Tahoma;
  width: 100%;
  margin: 0 0 20px;
}

.page-codesprint-modules #region-content div.fivestar-widget-static,
.page-projects #region-content div.fivestar-widget-static,
.page-speeches #region-content div.fivestar-widget-static {
  float: left;
  width: auto;
  -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50;  
}

.page-codesprint-modules #region-content div.fivestar-widget-static,
.page-codesprint-modules #region-content div.fivestar-widget .star,
.page-projects #region-content div.fivestar-widget-static,
.page-projects #region-content div.fivestar-widget .star,
.page-speeches #region-content div.fivestar-widget-static .star,
.page-speeches #region-content div.fivestar-widget .star {
  height: 17px;
}

.page-codesprint-modules #region-content .ui-accordion-header a,
.page-projects #region-content .ui-accordion-header a,
.page-speeches #region-content .ui-accordion-header a {
  font-size: 30px;
  color: #161616;
  font-family: Arial, Tahoma, Helvetica;  
}

.page-codesprint-modules #region-content #fivestar-custom-widget,
.page-projects #region-content #fivestar-custom-widget,
.page-speeches #region-content #fivestar-custom-widget {
  margin: 15px 0;
  float: left;
  clear: left;
}

.page-codesprint-modules #region-content .views-field .views-label,
.page-projects #region-content .views-field .views-label,
.page-speeches #region-content .views-field .views-label {
  float: left;
  font-size: 20px;
  color: #000;
  margin: 20px 0 0 0;
}

.page-codesprint-modules #region-content #add_module_button a,
.page-projects #region-content #add_project_button a,
.page-speeches #region-content #add_speech_button a {
  width: 155px;
  height: 77px;
  font-size: 0;
  line-height: 0;
}

.page-codesprint-modules #region-content #add_module_button a:hover,
.page-projects #region-content #add_project_button a:hover,
.page-speeches #region-content #add_speech_button a:hover {
  -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50;  
}

.page-codesprint-modules #region-content #add_module_button,
.page-projects #region-content #add_project_button,
.page-speeches #region-content #add_speech_button {
  float: left;
  width: 90%;
  text-align: center;
  margin: 20px;
}

.page-codesprint-modules #region-content .block-sharethis-sharethis-block,
.page-projects #region-content .block-sharethis-sharethis-block,
.page-speeches #region-content .block-sharethis-sharethis-block {
  float: left;
  width: auto;
  margin: 0 0 15px 22px;
}

.page-codesprint-modules #region-content .view-footer,
.page-projects #region-content .view-footer,
.page-speeches #region-content .view-footer {
  float: left;
  width: 100%;
}

.page-codesprint-modules #block-views-front-reg-block .views-row, #block-system-main,
.page-projects #block-views-front-reg-block .views-row, #block-system-main,
.page-speeches #block-views-front-reg-block .views-row, #block-system-main {
  margin-bottom: 0;
}


.not-logged-in .page-codesprint-modules #region-content #add_module_button,
.not-logged-in .page-projects #region-content #add_project_button,
.not-logged-in .page-speeches #region-content #add_speech_button {
  display: none;  
}


/*@end vote page*/

/* Webform */

.page-node-9 .webform-confirmation,
.page-node-18 .webform-confirmation,
.page-node-13 .webform-confirmation,
.page-node-19 .webform-confirmation {
  margin: 10px 0 0 30px;
}

.page-node-9 .links,
.page-node-18 .links,
.page-node-13 .links,
.page-node-19 .links {
  margin: 0 0 20px 30px;
} 

/* @end webform */