/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

body {
  background: url(../images/fon_stena.jpg) repeat-y;
}

#page{
  background: rgba(0, 0, 0, 0.5);
}

#zone-branding-wrapper,
#zone-menu-wrapper,
#zone-footer-wrapper {
  background: rgba(0, 0, 0, 0.3);
} 


/* Main menu */

#nice-menu-1 {
  float: right;
  margin-right: 40px;
}

#nice-menu-1 li,
#nice-menu-1 li ul,
#nice-menu-1 li ul li {
  background: none;
  border: none;
}

#nice-menu-1 li {
  margin: 0 20px;
}  

#nice-menu-1 li ul li {
  margin: 0px;
}

#nice-menu-1 li a,
#nice-menu-1 li ul li a {
  text-decoration: none;
  font-size: 30px;
  color: #f3f3f3;
}


/* @end main menu */

/* Social network */
#block-block-5 {
  float: left;
  margin-left: 40px;
}

/* @end social network */


/* User login */

#user-login-form {
  float: left;
  margin-left: 40px;
}

#user-login-form .form-item-name label,
#user-login-form .form-item-pass label {
  float: left;
  padding-right: 20px;
  color: #dddddd;
  font-size: 14px;
  font-weight: normal;
  text-transform: lowercase;
}

#user-login-form .form-item-name label .form-required,
#user-login-form .form-item-pass label .form-required {
  display: none;
}



#user-login-form .form-item-name input {
  width: 105px;
  height: 14px;
  background-color: #dedede;
  border: none;
}

#user-login-form .form-item-pass input {
  width: 88px;
  height: 14px;
  background-color: #dedede;
  border: none;
}


#user-login-form #edit-actions input {
  background: none;
  border: none;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  float: right;
  margin: -50px 0px 10px 0;
}

#user-login-form .item-list .first {
  float: right;
  margin: 10px;
}


#user-login-form .item-list .first a {
  text-decoration: none;
  font-size: 14px;
  text-transform: lowercase;
  color: #dddddd;
}

#user-login-form .item-list .last {
  display: none;
}

/* @end user login */

/* Right sidebar*/

aside#region-sidebar-first {
    float: right;
}

/* @end right sidebar */

/* Footer menu */

#block-menu-menu-footer-menu ul {
  text-align: center;
}

#block-menu-menu-footer-menu ul li {
  display: inline;
}

#block-menu-menu-footer-menu ul li a {
  text-decoration: none;
  color: #dedede;
  font-size: 24px;
  list-style: none;
}

/* @end footer menu */

/* Front page */


#top_voting_block_text,
#block-views-front-reg-block .views-row,
#block-block-3 {
  background: #f3f3f3;
  float: left;
  margin-bottom: 35px;
  width: 620px;
}


#block-views-front-reg-block-1,
#block-views-front-reg-block-2 {
  background: #f3f3f3;
}

#block-views-front-reg-block-1 h2.block-title,
#block-views-front-reg-block-2 h2.block-title {
  color: #5a9ee0;
  font-size: 45px;
}




/* @end front page */

/* Inner page */


/* @end inner page */
