/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

body {
  background: url(../images/fon_stena.jpg) repeat-y;
}

#page{
  background: rgba(0, 0, 0, 0.5);
}

#zone-branding-wrapper,
#zone-menu-wrapper,
#zone-footer-wrapper {
  background: rgba(0, 0, 0, 0.3);
} 


/* Main menu */

#nice-menu-1 {
  float: right;
  margin-right: 40px;
}

#nice-menu-1 li,
#nice-menu-1 li ul,
#nice-menu-1 li ul li {
  background: none;
  border: none;
}

#nice-menu-1 li a,
#nice-menu-1 li ul li a {
  text-decoration: none;
  font-size: 30px;
  color: #f3f3f3;
}


/* @end main menu */


/* Footer menu */

/* @end footer menu */

/* Front page */


/* @end front page */

/* Inner page */


/* @end inner page */